span{
    color: red;
}
.container{
    position: relative;
    left: 100px;
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    text-align: left;
    padding: 30px;
    font-size: 30px;
}
input{
    height: 30px;
}

.display{
    text-align: left;
    width: 300px;
    height: 300px;
    position: relative;
    left: 700px;
    bottom:360px;
    padding: 30px;
    font-size: 15px;


}